<main>
  <section class="container-fluid my-3 head-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center ">
          <h1>اسباب خشونة الركبة</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div><img src="/assets/images/خشونة الركبة.jpg" alt="اسباب خشونة الركبة" class="img-fluid"></div>
        <div class="mt-3">
          <p style="text-align: right;"><span style="font-size:20pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">أسباب خشونة الركبة: لا تقتصر على
                        تقدم السن فقط</span></span></span></span></span></span></p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">يعد مفصل الركبة من أهم المفاصل التي
                        يعتمد عليها الإنسان في الحركة، فإذا أصيب ذلك المفصل بمشكلة الخشونة التي تتداخل مع كفاءته
                        الوظيفية، عانى صعوبة في الحركة وشعَر بالألم مع تفاقم الحالة مع مرور الوقت.&nbsp; ويُعد تقّدم
                        السن هو أشهر أسباب خشونة الركبة، ولكن هناك عوامل أخرى تزيد احتمالات الإصابة بها. تابع هذا
                        المقال لمعرفة هذه الأسباب.</span></span></span></span></span></span></p>

          <h2 dir="rtl" style="line-height: 1.38; margin-top: 24px; margin-bottom: 8px;"><span
              style="font-size:16pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">نبذة مختصرة عن خشونة
                        الركبة</span></span></span></span></span></span></h2>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">
                        الدكتوره أميره -استشاري العلاج الطبيعي - خشونة الركبة
                        على أنها مشكلة تؤدي إلى تآكل الغضروف الواقع بين العظمتين المُكوِّنتيْن لمفصل الركبة (عظمتي
                        الساق والفخذ).&nbsp;</span></span></span></span></span></span></p>

          <p style="text-align: right;">&nbsp;</p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">والغضروف هو مادة هلامية لينّة تفصل
                        بين أي عظمتين بالجسم للحد من فرص حدوث الاحتكاك بينهما، وتخفيف الضغط عن المفصل. وتؤكد الدكتوره
                        أميره أن غضروف الركبة يتآكل تدريجيًا مع مرور السنوات، حتى يتلف تمامًا، وحينئذ تُصبح أسطح
                        عظام مفصل الركبة مكشوفة فتحتّك ببعضها البعض، وباستمرار احتكاك رؤوس عظام مفصل الركبة، فإنها
                        تتآكل وتتشوه ما يُسبب الآلام الشديدة والالتهاب.</span></span></span></span></span></span></p>

          <h2 dir="rtl" style="line-height: 1.38; margin-top: 24px; margin-bottom: 8px;"><span
              style="font-size:16pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">أسباب خشونة
                        الركبة</span></span></span></span></span></span></h2>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">لا تنحصر أسباب خشونة الركبة في
                        الشيخوخة فقط، فهناك عوامل خطر عديدة تزيد احتمالات الإصابة بها في سن مبكرة،
                        وتشمل:</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">زيادة
                        الوزن</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">تتحمل المفاصل نِسَبًا متفاوتة من
                        وزن الجسم، ويُعَد مفصل الركبة من أبرز المفاصل التي تتحمل جزءًا كبيرًا هذا الوزن. وبناءً عليه
                        فإن الوزن الزائد يضع قدرًا إضافيًا من الضغط على مفصل الركبة ما يزيد احتمالية تلف
                        غضروفه.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">الأمراض
                        المناعيّة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">تُعد أمراض المناعة الذاتية التي
                        تستهدف مفاصل الجسم عامل خطر للإصابة بخشونة الركبة، ومنها مرض
                        "الروماتويد".</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">التشوهات عند
                        الولادة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">إنّ ولادة أحدهم بتشوّه في الساقين،
                        كتقوّس الساقين مثلًا أحد الأسباب المؤدية إلى تآكل غضروف
                        الركبة.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">الإصابات
                        الرياضية</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">حدوث إصابات رياضية في الركبة سواء
                        في الرباط الصليبي أو في الغضروف الهلالي، وعدم خضوع المُصاب إلى العلاج الطبيعي بصورة سليمة أو
                        لفترة كافية، قد يزيد من خطر الإصابة بالخشونة
                        المبكرة.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">استخدام المفصل بطريقة
                        خاطئة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">استهلاك واستخدام المفصل بصورة خاطئة
                        مثل الإفراط في ثني الركبة سواء في مجلس القرفصاء أو ممارسة الرياضات العنيفة مثل رفع
                        الأثقال.</span></span></span></span></span></span></p>

          <h2 dir="rtl" style="line-height: 1.38; margin-top: 24px; margin-bottom: 8px;"><span
              style="font-size:16pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">هل العلاج الدوائي كافي لعلاج خشونة
                        الركبة؟</span></span></span></span></span></span></h2>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">وتؤكد الدكتوره أميره أن الاعتماد على
                        العلاج الدوائي وحده لن يكون كافيًا لعلاج خشونة الركبة علاجًا
                        جذريًا، فالأدوية تقلل الالتهاب وتُسكن الألم وتعزز استرخاء العضلات
                        فقط.</span></span></span></span></span></span></p>

          <p style="text-align: right;">&nbsp;</p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">وتضيف الدكتوره أميره أن الاعتماد على
                        العلاج الدوائي يجب أن يكون لفترة زمنية محدودة، إذ أن تناول بعض الأدوية -كمضادات الالتهاب غير
                        الستيرويدية (NSAIDs)- مدة طويلة يُسبب آثارًا جانبية تُصيب المعدة
                        والكلى.</span></span></span></span></span></span></p>

          <h2 dir="rtl" style="line-height: 1.38; margin-top: 24px; margin-bottom: 8px;"><span
              style="font-size:16pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">ما هو العلاج الأفضل لخشونة
                        الركبة؟</span></span></span></span></span></span></h2>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">أفضل علاج لخشونة الركبة هو العلاج
                        الذي يعتمد على تقنيات علاجية عديدة ومتكاملة، تشمل:</span></span></span></span></span></span>
          </p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span
                        style="text-decoration:none">الأجهزة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">تبلغ نسبة اعتماد الأطباء على أجهزة
                        العلاج الطبيعي في خطة علاج خشونة الركبة 20-30% تقريبًا، وهُم يعتمدون عليها لعلاج الحالات التي
                        تعاني ألم الركبة الشديد المصحوب بتورّم وارتشاح. ومن أبرز الأجهزة
                        المُستخدَمة:</span></span></span></span></span></span></p>

          <ul>
            <li aria-level="1" dir="rtl" style="list-style-type: disc; text-align: right;"><span
                style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                  style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                        style="font-style:normal"><span style="text-decoration:none">جهاز الليزر البارد: يُصدِر طاقة
                          ليزر منخفضة تَحد من التهاب المفصل وتُنشط الدورة
                          الدموية.</span></span></span></span></span></span></li>
            <li aria-level="1" dir="rtl" style="list-style-type: disc; text-align: right;"><span
                style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                  style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                        style="font-style:normal"><span style="text-decoration:none">جهاز التنبيه الكهربي
                          (Interferential current): يصدر منه تيار كهربي بشّدة محدودة للسيطرة على الألم
                          والالتهاب.</span></span></span></span></span></span></li>
          </ul>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">العلاج بالأساليب
                        اليدوية</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">يقوم هذا العلاج على ممارسة بعض
                        التقنيات اليدوية واستخدام أدوات مُساعِدة لتحسين حالة المفاصل وتخفيف
                        الألم.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">التمارين
                        العلاجية</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">تؤكد الدكتوره أميره أن التمارين
                        العلاجية جزء رئيسي من خطة العلاج، إذ أنها تعمل على تقوية العضلات المحيطة بالركبة وعضلات الفخذ
                        والبطن وغيرها من العضلات التي يساهم تقويتها في إعادة توزيع وزن الجسم وتخفيف الضغط عن
                        الركبة.</span></span></span></span></span></span></p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">وتنوّه الدكتوره أميره على وجود فارق
                        كبير بين التمارين العلاجية والتمارين الرياضية، إذ تُوصف التمارين العلاجية بناء على حالة كل
                        مريض بعد خضوعه للفحوصات اللازمة. كما يشدد على عدم الانسياق وراء التمارين المنتشرة على الإنترنت
                        نظرًا لضرورة ممارسة التمارين العلاجية تحت الإشراف الطبي
                        المتخصص.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">تحسين نمط
                        الحياة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">يجب أن يتبع المريض نمط حياة صحي
                        للحد من أعراض خشونة الركبة، فعليه بالإقلاع عن التدخين والحفاظ على وزن صحي لتجنب وضع حمل إضافي
                        على الركبة، إضافة إلى الجلوس بطريقة سليمة، ومراعاة عدم الإفراط في استخدام المفصل، إضافة إلى
                        الانتباه الفوري وزيارة الطبيب المتخصص بمجرد التعرض للإصابات الرياضية للخضوع إلى العلاج الطبيعي
                        والحد من خطر الإصابة بالخشونة المبكرة.</span></span></span></span></span></span></p>

          <h3 dir="rtl" style="line-height: 1.38; margin-top: 21px; margin-bottom: 5px;"><span
              style="font-size:13.999999999999998pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#434343"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">علاج الركبة بالإبر
                        الجافّة</span></span></span></span></span></span></h3>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">يشمل إدخال إبر مخصصة حول الركبة
                        لاستهداف المناطق المسؤولة عن الشعور بالألم ومن ثمّ تخفيفه، وهي لا تحتوي على الكورتيزون، وليس
                        لها آثار جانبية.</span></span></span></span></span></span></p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">وتشير الدكتوره أميره إلى أن
                        البروتوكول المتبع لعلاج خشونة الركبة، ينطوي على استخدام 9 إبر، توضع في مناطق مختلفة، حيث
                        تستهدف مجموعة منها علاج التشنجات العضلية الناجمة عن الخشونة، وتستهدف مجموعة أخرى الأعصاب
                        الملتهبة حول الركبة لعلاجها، بينما المجموعة الأخيرة تستهدف الأوعية الدموية المغذية للغضروف
                        لتنشيطها.</span></span></span></span></span></span></p>

          <p style="text-align: right;">&nbsp;</p>

          <p dir="rtl" style="line-height: 1.38;"><span
              style="font-size:11pt; font-variant:normal; white-space:pre-wrap"><span
                style="font-family:Arial,sans-serif"><span style="color:#000000"><span style="font-weight:400"><span
                      style="font-style:normal"><span style="text-decoration:none">وختامًا، تؤكد الدكتوره أميره على
                        عدم إمكانية استعادة حالة الغضروف الطبيعية بعد تآكله، ولكن تهدف وسائل العلاج الطبيعي وغيرها من
                        العلاجات الأخرى إلى إبطاء تفاقم الخشونة والسيطرة على الأعراض لممارسة الحياة اليومية بصورة
                        طبيعية.</span></span></span></span></span></span></p>

          <p style="text-align: right;">&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
</main>
