    <section class=" py-5 mainbgi container-fluid aboutbgc">
      <div class="m-5  about-border">
        <div class="row my-4 m-2 d-flex align-items-center">
          <div class=" col-lg-6  ">
            <div class=" ">
              <img class="w-100" src="/assets/images/about.jpg" alt="">
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center my-2">
              <button (click)="openWhatsApp()" class="w-100 btn btn-hover bgc text-white">إحجز الان</button>
            </div>
          </div>
          <div class="col-lg-6 p-3 py-md-3 py-sm-3 ">
            <h2>عن الدكتوره أميره إمام</h2>
            <p class="fs-12"> كما أنها حاصله على البورد الأمريكي في العلاج الطبيعي</p>
            <p class="fs-12"> و دكتوراه العلاج الطبيعي الإكلينيكية من أمريكا</p>
            <p class="fs-12"> وهي متخصصه في علاج آلام ومشكلات العمود الفقري والانزلاق الغضروفي "الديسك"</p>
            <p class="fs-12">وعلاج مشكلات المفاصل بدون جراحة، وذلك باستخدام أحدث الطرق العالمية التي تم التوصّل إليها،
              وتُقدم الآن في فروع المركز بكفر الزيات </p>

            <div class="row  d-flex align-items-center justify-content-between">
              <div class="col-6  ">
                <div class=" bg-body-secondary py-2 rounded-2 text-center">
                  <h5 class="fs-12 p-0 m-0">+100</h5>
                  <p class="fs-12 p-0 m-0">مريض سعيد</p>
                </div>
              </div>
              <div class="col-6 ">
                <div class="py-2 bg-body-secondary text-center rounded-2">
                  <h5 class="fs-12 p-0 m-0">+3</h5>
                  <p class="fs-12 p-0 m-0">خبره في العلاج الطبيعي</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
