    <div class="text-center py-2">
      <h3>أخر المقالات من المدونة</h3>
    </div>

    <section class="container-fluid d-flex align-items-center ">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 services-hover">
          <a routerLink="/blog1">
            <div class="item bg-white p-3 ">
              <img class="w-100 imgheight" src="./assets/images/خشونة الركبة.jpg" alt="">
              <h4 class=" mt-4">أسباب خشونة الركبه</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 services-hover">
          <a routerLink="/blog2">
            <div class="item bg-white p-3 ">
              <img class="w-100 imgheight" src="./assets/images/الانزلاق الغضروفي القطني.jpg" alt="">
              <h4 class="mt-4">أعراض الانزلاق الغضروفي القطني</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 services-hover">
          <a routerLink="/blog3">
            <div class="item bg-white p-3 ">
              <img class="w-100 imgheight" src="./assets/images/جلسات العلاج الطبيعي.jpg" alt="">
              <h4 class="mt-4">أسعار جلسات العلاج الطبيعي</h4>
            </div>
          </a>
        </div>
      </div>
    </section>
