<section class="bg-white py-4" dir="rtl ">
  <div class="container-fluid">
    <div class="row d-flex align-items-center container-fluid">
      <div class="col-lg-5 py-4">
        <img height="200" src="/assets/images/Logo.png" alt="">
        <p class="footer-t-c">اكتشف خدماتنا الصحيه و المميزة التى تمنحك الثقة الكاملة بنا</p>
        <a (click)="makePhoneCall()"><i class="fa-solid fa-phone p-3 rounded-circle bgc text-white"></i></a>
      </div>
      <div class="col-md-6 col-lg-4 py-4">
        <h5 class="tc">صفحات الموقع</h5>
        <ul class="m-0 p-0">
          <li><i class="fa-solid fa-angles-left  ms-4"></i><a routerLink="/contact">تواصل معنا</a></li>
          <li><i class="fa-solid fa-angles-left  ms-4"></i><a routerLink="/blogs">المقالات والآخبار</a></li>
          <li><i class="fa-solid fa-angles-left  ms-4"></i><a routerLink="">الاسئلة الشائعة</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-3 py-4">
        <h5 class="tc">خدماتنا</h5>
        <ul class="m-0 p-0">
          <li><i class="fa-solid fa-angles-left  ms-4"></i><a routerLink="/about">عن الدكتوره أميرة إمام</a></li>
          <li><i class="fa-solid fa-angles-left  ms-4"></i><a routerLink="/services">خدماتنا</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="">© Dr.Amira Emam 2024 Allright Reserved</p>
  </div>
</section>
