<nav dir="rtl" class="navbar navbar-expand-lg navbar-light  p-0 ">
  <div class="container-fluid ">
    <a class="navbar-brand p-0 m-0" href="#"><img class="" width="75" src="/assets/images/Logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/home"> الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/services"> خدماتنا</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/allservices"> تخصصات
            المركز</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/blogs"> المقالات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/about"> عن العيادة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/contact"> تواصل معنا</a>
        </li>
      </ul>
      <button (click)="openWhatsApp()" class="me-auto btn btn-hover bgc text-white">إحجز الان</button>
    </div>
  </div>
</nav>
